
    <p class="motRappel"></p>
    <p class="cardDescription"></p>
    <div class="flexContainer">
        <button class="cardImageButton btn btn-info">Importer une image</button>
        <button class="cardImageButton btn btn-warning">Redimensionner l'image</button>
        <button class="cardImageButtonVal btn btn-success">Valider la modification</button>
        <canvas class="cardImageCanvas"></canvas>
        <canvas class="cardImageCanvasFinal"></canvas>
    </div>
    <div class="cropperContainer">
            <canvas class="cardImageCanvasHQ"></canvas>
    
    </div>
