<h1>Choix et redimensionnement des images</h1>
<p class="intro-image"> - Sur cette page vous allez sélectionner pour chaque carte 1(carte simple), 2(carte recto-verso) ou 4 images(carte recto-verso avec adjectif) </p>
<p class="intro-image"> - Vous aller pouvoir rogner, redimensionner votre image comme vous le souhaitez </p>
<ul class="cardImageList">
    
</ul>
<div class="bottomNavigation">
        <button class="loadHomePage btn btn-primary">Précédent</button>
        <button class="loadTextChoicePage btn btn-success ">Suivant</button>
</div>