@font-face {
	font-family: 'Conv_CLEO-GS-CAP';
	src: url('font/CLEO-GS-CAP/fonts/CLEO-GS-CAP.eot');
	src: local('☺'), url('font/CLEO-GS-CAP/fonts/CLEO-GS-CAP.woff') format('woff'), url('font/CLEO-GS-CAP/fonts/CLEO-GS-CAP.ttf') format('truetype'), url('font/CLEO-GS-CAP/fonts/CLEO-GS-CAP.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_CLEO-GS-SCRIPT';
	src: url('font/CLEO-GS-SCRIPT/fonts/CLEO-GS-SCRIPT.eot');
	src: local('☺'), url('font/CLEO-GS-SCRIPT/fonts/CLEO-GS-SCRIPT.woff') format('woff'), url('font/CLEO-GS-SCRIPT/fonts/CLEO-GS-SCRIPT.ttf') format('truetype'), url('font/CLEO-GS-SCRIPT/fonts/CLEO-GS-SCRIPT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_CLEO-GS-CURSIVE';
	src: url('font/CLEO-GS-CURSIVE/fonts/CLEO-GS-CURSIVE.eot');
	src: local('☺'), url('font/CLEO-GS-CURSIVE/fonts/CLEO-GS-CURSIVE.woff') format('woff'), url('font/CLEO-GS-CURSIVE/fonts/CLEO-GS-CURSIVE.ttf') format('truetype'), url('font/CLEO-GS-CURSIVE/fonts/CLEO-GS-CURSIVE.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

footer{
    position: absolute;
    top: 95%;
    left: 80%;
    color: silver;

}

#first{
    font-family: 'Conv_CLEO-GS-CAP';
    position: absolute;
    top:-10000px;
    left:-10000px;
    
}
#second{
    font-family: 'Conv_CLEO-GS-SCRIPT';
    position: absolute;
    top:-10000px;
    left:-10000px;

}
#third{
    font-family: 'Conv_CLEO-GS-CURSIVE';
    position: absolute;
    top:-10000px;
    left:-10000px;

}
.cardDetail{
    margin-top: 1em;
}
.card{
    background: #c0c0c03b;
    padding: 0em 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    width: 70%;
}
.cardImageLi{
    background: #c0c0c03b;
    padding: 0em 1em;
    margin-bottom: 1em;
    width: 55em;
}
.cardImageLi p{
   margin: 0;
}
.choiceCardQuantity p{
    font-style: italic;
    margin-left: 2em;
}

.choiceCardQuantity-label{
    margin-left: 2em;
}

#validerHomePage{
    width: 15%;
    margin-left: 45%;
}






.intro-image{
    font-style: italic;
    margin-left: 2em;
}
.appContainer{
    position:relative;
}

.motRappel{
    font-weight: 400;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
}

.motRappel-input{
    width: 14em;
}

.adjectif{
    display: none;
}
.rectoVerso{
    display: none;
}
.cropperContainer{
    width: 50%;
    margin: auto;
}
.cardImageCanvas{
    max-height: 50px;
    margin-left: 2em;
    border : 1px solid silver;
}
.cardImageCanvasHQ{
    display:none;
}
.cardImageButton{
    max-height: 2em;
    width: fit-content;
    margin-right: 2em;
    padding-bottom: 2em;
}
.cardImageButtonVal{
    display: none;
    max-height: 2em;
    width: fit-content;
    padding-bottom: 2em;
}
.cardImageCanvasFinal{
    border : 1px solid silver;
    max-height: 50px;
    margin-left: 2em;    
}

.flexContainer {
    display:flex;
    height: 4em;
    align-items: center;

}

.bottomNavigation{
    width: 20em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
}

.bottomNavigation button{
    font-size: 1.1em;

}

.cardTextLi{
    background: #c0c0c03b;
    padding: 0em 1em;
    margin-bottom: 1em;
}
.cardTextLi p{
    margin: 0;
 }

 .introText{
    font-style: italic;
    margin-left: 2em;
 }

.intro-layout{
    font-style: italic;
    margin-left: 2em;
}

.loadConfirmation{
    margin-left: 3em;
}

.loading {
    animation: blinker 1s linear infinite;
    margin-left:3em;
  }
  

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
.flexContainerButton{
    display:flex;
    justify-content: space-around;
    width: 71%;
}