<h1>Sélection du texte</h1>
<p class="introText">- Sur cette page, choisissez la décomposition syllabique de chaque</p>

<p class="introText">- Merci de séparer par des "/" (sans espace de part et d'autre) chaque syllabe</p>

<ul class="cardTextList">
    
</ul>
<div class="bottomNavigation">
    <button class="loadImageChoice btn btn-primary">Précédent</button>
    <button class="loadLayoutChoice btn btn-success">Suivant</button>
</div>