
    <p class="motRappel"></p>
    <p class="cardDescription"></p>
    <div class="textContainer">
        <label for = "textToDisplay" class="text-label">Texte à ajouter</label>
        <input class="text-input" type="text" name="textToDisplay"></canvas>
    </div>

<div class="typeWordChoice">
    <label for="typeWord">Type de mot :</label>
    <select name="typeWord custom-select" class="typeWord">
        <option value="">--Sélectionner une option--</option>
        <option value="animal">Noms d'animaux</option>
        <option value="name">Prénoms/Noms</option>
        <option value="things">Noms concrets</option>
        <option value="adjectif">Adjectifs</option>
        <option value="toolWord">Mots Outils</option>
        <option value="verbe">Verbe</option>
    </select>
</div>


