<p class="motRappel"></p>
<p class="cardDescription"></p>
<div class="layoutChoiceContainer">
    <div class="A4Container">
        <label class="A4-label">Quantité de A4</label>
        <input type="number" class="A4-input" min="0" max="50" step="1"></label>
    </div>
    <div class="A5Container">
        <label class="A5-label">Quantité de A5</label>
        <input type="number" class="A5-input" min="0" max="50" step="2" ></label>
    </div>
    <div class="A8Container">
        <label class="A8-label">Quantité de A8</label>
        <input type="number" class="A8-input"  min="0" max="50" step="4"></label>
    </div>
</div>