<p id="first">Je suis sûr que la gaîté ambiguë du drôle de garçon qui a bu du whisky et fait le zèbre sur un vieux caïman à Noël dans le cañon, a été bénéfique à l'âme du poète blême, ainsi qu'à son cœur & cætera !</p>
        <p id="second">Je suis sûr que la gaîté ambiguë du drôle de garçon qui a bu du whisky et fait le zèbre sur un vieux caïman à Noël dans le cañon, a été bénéfique à l'âme du poète blême, ainsi qu'à son cœur & cætera !</p>
        <p id="third">Je suis sûr que la gaîté ambiguë du drôle de garçon qui a bu du whisky et fait le zèbre sur un vieux caïman à Noël dans le cañon, a été bénéfique à l'âme du poète blême, ainsi qu'à son cœur & cætera !</p>
<h1>Choix des quantités</h1>
<p class="intro-layout"> - Sur cette page vous allez sélectionner, pour chaque carte, le nombre d'exemplaire pour les différents format : A4, A5 et A8 </p>
<p class="intro-layout"> - Lors de la sauvegarde, on vous proposera d'enregistrer 1 ou 2 PDF (un pour le recto-verso, l'autre pour le simple recto)</p>
<ul class="cardLayoutList">
</ul>
<div class="flexContainerButton">
    <button class="btn btn-warning loadConfirmation">Générer mon PDF</button>
    <p class="loading">En cours de chargement...</p>
    <button class="savePDF btn btn-success">Sauvegarder mon PDF</button>
</div>
<div class="bottomNavigation">
    <button class="loadTextChoice btn btn-primary">Précédent</button>
    <button class="restart btn btn-danger">Redémarer </button>
</div>
<div class="canvasContainer">

</div>
<canvas id="canvasForRV"></canvas>
<canvas id="canvasForSimple"></canvas>
