<div class="motRappelDiv">
    <lablel class="motRappel-label"> Merci donner un titre à cette fiche (il ne sera pas affiché sur la fiche) :</lablel>
    <input class="motRappel-input" type="text">
</div>
<div class="rectoVerso">
    <lablel class="rectoVerso-label"> Voulez-vous que cette carte soit recto-verso ?</lablel>
    <lablel class="rectoVerso-label-yes">Oui</lablel>

    <input class="rectoVerso-input-yes" name ="rectoVerso" type="radio" value="">
    <lablel class="rectoVerso-label-no">Non</lablel>

    <input class="rectoVerso-input-no" name ="rectoVerso" type="radio" value="">
</div>
<div class="adjectif">
        <lablel class="adjectif-label"> Si c'est un adjectif voulez-vous qu'il y ai le masculin/féminin sur la même fiche?
        </lablel>
        <lablel class="adjectif-label-yes">Oui</lablel>
        <input class="adjectif-input-yes" name ="adjectif" type="radio" value="">
        <lablel class="adjectif-label-no">Non</lablel>
        <input class="adjectif-input-no" name ="adjectif" type="radio" value="">

    </div>
<!-- <div class="plurSing">
    <lablel class="plurSing-label"> Voulez-vous imprimer au verso de la carte le pluriel du mot ?</lablel>
    <input class="plurSing-input" type="checkbox">
</div> -->
