<h1>Choix du nombre et du type de fiche</h1>

<div class="choiceCardQuantity">
    <p> - Sur cette page vous allez sélectionner un nombre de mot. Pour chaque mot, une ou plusieurs cartes seront imprimées</p>
    <div class="choiceCardQuantity-container">
        <lablel class="choiceCardQuantity-label">Choisissez une quantité</lablel>
        <input id="choiceCardQuantity" class="choiceCardQuantity-input" type="number" min="0" max="10" onkeydown="return false">
        <ul class="cardDetail">
        </ul>
    </div>
</div>
<button id="validerHomePage" class="btn btn-success">Valider</button>